<div class="comment">
  <h3><%= comment.commenter %></h3>
  <p><%= comment.body %></p>
</div>

<div class="admin">
  <%= link_to 'Destroy Comment', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure you want to delete that? Like, really?' } %>
</div>