<p>
  <%= comment.commenter %>
</p>

<p>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Destroy Comment', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure you want to delete that? Like, really?' } %>
</p>