<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.text_field :commenter, :placeholder => "Your Name" %>
  </p>
  <p>
    <%= f.text_area :body, :placeholder => "Write Something" %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>