<div class="about_div">
  <img src="<%= asset_path 'abouttop.jpg' %>" class="about_page_image" nopin="nopin">
  <h1>About Brenda</h1>
  <p>Hi, I’m Brenda McIntosh. After starting my career at Boeing, I left to pursue my interest in web design and development. I'm happily learning and creating each day. You can learn more about my work <a href="http://brendamcintosh.com" target="_blank">here.</a></p>
  <p>I created All the Things from scratch as a means to learn Ruby on Rails and enhance my web development skills. It has become a creative outlet and a place to share all the things that I love</p>
  <p>Enjoy!</p>
  <img src="<%= asset_path 'aboutbottom.jpg' %>" class="about_page_image" nopin="nopin">
</div>
