<div class="about_div">
  <h1>About Brenda</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dolor sapien, hendrerit et accumsan non, posuere vitae ipsum. Etiam aliquam sapien quis metus semper, ac accumsan mi gravida. Morbi tincidunt odio et justo imperdiet, non congue turpis tincidunt. Mauris adipiscing ullamcorper leo a facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dolor erat, luctus a est ac, venenatis placerat nibh. Aliquam pellentesque vitae magna at pretium. Nam nisl nunc, volutpat id justo ac, mollis condimentum urna. Morbi elit nulla, pulvinar nec pulvinar eget, pretium sit amet ipsum. Nullam suscipit nunc libero, hendrerit luctus mi tincidunt sed. Integer vel elementum est. Quisque cursus vulputate velit, iaculis mattis odio vestibulum ut. Morbi porttitor nulla sit amet sem congue pretium.</p>
</div>
