<h1>List of Posts</h1>

<%= link_to 'New Post', new_post_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, post %></td>
      <td><%= post.text %></td>
    </tr>
  <% end %>
</table>