<%= render @post %>

<div class="comments">
  <h2>Comments</h2>
  <%= render @post.comments %>
  <p class="write_comment_link"><%= link_to 'Write a Comment', new_post_comment_path(@post) %></p>
</div>
