/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require posts
 *= require comments
 */

@import url(http://fonts.googleapis.com/css?family=Lato|Fjalla+One|Dancing+Script:700);

/*
font-family: 'Lato', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Dancing Script', cursive;
*/

body {
	margin-left: 20%;
	margin-right: 20%;
}

a {
	text-decoration: none;
	color: #E9615C;
}

a:hover {
	text-decoration: none;
	color: dimgray;
}

header {
	text-align: center;
}

header a {
	color: black;
}

header a:hover {
	color: dimgray;
}

.blog_title {
	font-family: 'Fjalla One', sans-serif;
	font-size: 6em;
	line-height: 1.125em;
	margin-top: 25px;
	margin-bottom: 20px;
}

.blog_title span {
	font-family: 'Dancing Script', cursive;
	font-size: 1.25em;
	text-shadow: 3px 3px rgb(195,146,67);
}

.field {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.text_input {
	width: 100%;
}

.admin {
 	width: 100%;
 	margin: 0 auto;
}

footer {
	text-align: center;
}