/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require posts
 *= require comments
 */

@import url(http://fonts.googleapis.com/css?family=Sanchez|Montserrat);

@font-face {
	font-family: 'HaloHandletter';
	src: url(../fonts/HaloHandletter.otf);
}

/*
font-family: 'Sanchez', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'HaloHandletter', serif;
*/

body {
	background-color: white;	
}

.body {
	margin: 0 auto;
	width: 1038px;
}

.main {
	width: 768px;
	display: inline-block;
}

.sidebar {
	width: 250px;
	height: 600px;
	margin-right: 10px;
	background-color: aqua;
	display: inline-block;
	float: right;
}

.sidebar_image {
	width: 230px;
	height: auto;
	margin: 10px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: rgb(248,217,201);
}

header {
	text-align: center;
}

header a {
	color: black;
}

.blog_title {
	font-family: 'Montserrat', sans-serif;
	font-size: 4em;
	line-height: 1.125em;
	margin-top: 25px;
	margin-bottom: 30px;
	text-align: left;
	padding-left: 15px;
	border-left: 8px solid rgb(248,217,201);
}

.blog_title span {
	font-family: 'HaloHandletter', cursive;
	font-size: 1.75em;
	font-weight: 500;
}

.field {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.text_input {
	width: 100%;
}

.admin {
 	width: 100%;
 	font-family: 'Sanchez', sans-serif;
	font-size: 1.125em;
 	margin: 0 auto;
}

footer {
	text-align: center;
}