/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require posts
 *= require comments
 */

@import url(http://fonts.googleapis.com/css?family=Sanchez|League+Script|Raleway:300);

body {
	background-color: white;	
}

.body {
	margin: 0 auto;
	width: 1038px;
}

.main {
	width: 768px;
	display: inline-block;
}

.sidebar {
	width: 250px;
	margin-right: 10px;
	border: 2px solid rgb(38,38,38);
	display: inline-block;
	float: right;
	text-align: center;
	position: relative;
}

.sidebar_image {
	width: 230px;
	height: auto;
	margin: 10px;
}

.about_link {
	color: black;
}

.about_link:hover {
	color: black;
}

.about_link:hover .sidebar_image {
	opacity: 0.9;
}

.sidebar_arrow {
	position: absolute;
	right: 20px;
	top: 185px;
}

.about {
	margin-top: 10px;
	font-family: 'League Script', cursive;
	font-size: 2.6em;
	text-align: left;
	line-height: 0.75em;
	margin-left: 30px;
	display: block;
	padding-left: 10px;
}

.social_links {
	margin-left: 10px;
	margin-right: 10px;
	list-style-type: none;
	padding: 0;
}

.social_links span {
	width: 230px;
	height: 40px;
	background-color: rgb(248,217,201);
	display: block;
	padding-top: 10px;
}

.social_links a {
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
	color: rgb(38,38,38);
}

.social_links li {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: rgb(217,131,112);
}

a:hover {
	text-decoration: none;
	color: rgb(100,100,100);
}

.social_links a:hover {
	color: rgb(38,38,38);
}

.social_links span:hover {
	background-color: rgba(248,217,201,0.6);
}

header {
	text-align: center;
	width: 768px;
	margin-top: 20px;
}

.blog_title {
	font-family: 'Raleway', sans-serif;
	color: rgb(38,38,38);
	font-weight: 300;
	font-size: 4em;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 0;
}

.blog_title a:hover {
	color: rgb(38,38,38);
}

.text_input {
	border: 1px solid rgb(248,217,201);
	text-align: left;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	margin-bottom: 10px;
}

input.text_input {
	width: 300px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
}

textarea.text_input {
	width: 500px;
	height: 500px;
}

.admin, .alert {
 	font-family: 'Raleway', sans-serif;
	font-size: 1em;
 	text-align: center;
 	text-transform: uppercase;
}

.alert {
	text-align: left;
	padding-left: 10px;
}

footer {
	text-align: center;
	margin-top: 30px;
}

.byme {
	font-family: 'Raleway', sans-serif;
	color: rgb(100,100,100);
	font-size: 0.75em;
	text-transform: uppercase;
}