/*
Place all the styles related to the Comments controller here.
They will automatically be included in application.css.
*/

.comments {
	margin: 0 10px;
}

.comments h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.75em;
	font-weight: 300;
	margin-bottom: 0;
}

.comment {
	margin-top: 15px;
}

.comment + .comment {
	padding-top: 15px;
	border-top: 1px solid rgb(248,217,201);
}

.commenter {
	font-family: 'Raleway', serif;
	color: rgb(100,100,100);
	margin-top: 0;
	margin-bottom: 2px;
}

.comment_body {
	font-family: 'Raleway', serif;
	color: rgb(38,38,38);
	margin: 0;
}

.write_comment {

}

.text_input {
	border: 1px solid rgb(248,217,201);
	text-align: left;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	margin-bottom: 10px;
}

input.text_input {
	width: 300px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
}

textarea.text_input {
	width: 500px;
	height: 100px;
}

.submit {

}


