/*
Place all the styles related to the Comments controller here.
They will automatically be included in application.css.
*/

.comments {
	margin: 0 10px;
}

.comments h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.75em;
	font-weight: 300;
}

.nav_to_post {

}

.write_comment {

}

.submit {

}

.comment {

}

