/*
Place all the styles related to the Posts controller here.
They will automatically be included in application.css.
*/

.error_explanation {

}

.write_post {

}

.post {
	margin: 0 auto;
	text-align: center;
}

.date {
	width: 100%;
	text-align: center;
	border-bottom: 3px solid black;
	border-bottom-style: double;
	line-height: 0.1em;
	margin: 10px 0 20px;
}

.date span {
	background: white;
	padding: 0 10px;
}

.content p {
	text-align: left;
}

.content img {
	width: 100%;
}

.new_link {
	text-align: center;
}

.old.thumbnail img {
	height: 100%;
	width: 200px;
}

.old.thumbnail {
	height: 200px;
	float: left;
	border: none;
	padding-right: 15px;
}

.old.snippet {
	height: 200px;
	text-align: left;
}

.pagination {
	font-size: 5em;
	text-align: center;
}