/*
Place all the styles related to the Posts controller here.
They will automatically be included in application.css.
*/

.error_explanation {

}

.write_post {

}

.post:first-child {
	border-top: 2px solid rgb(38,38,38);
}

.post {
	border-bottom: 2px solid rgb(38,38,38);
	margin: 0 10px;
	text-align: center;
}

.date {
	font-family: 'Raleway', sans-serif;
	font-size: 1.125em;
	color: rgb(100,100,100);
}

.content p {
	text-align: left;
	font-family: 'Sanchez', serif;
	font-size: 1.125em;
	line-height: 1.5em;
}

.post_title {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	margin-bottom: 3px;
	margin-top: 20px;
}

.new .post_title {
	font-size: 2.5em;
	margin-top: 15px;
}

.old .post_title {
	font-size: 2em;
}

.content img {
	width: 100%;
}

.new_link {
	text-align: center;
}

.old.thumbnail img {
	height: 100%;
	width: 200px;
}

.old.thumbnail {
	height: 200px;
	float: left;
	border: none;
}

.old.snippet {
	min-height: 200px;
	text-align: left;
	margin-left: 215px;
}

.old.snippet p {
	margin-top: 7px;
}

.pagination {
	font-family: 'Raleway', sans-serif;
	color: rgb(38,38,38);
	text-transform: uppercase;
	font-size: 1.5em;
	text-align: center;
	margin-top: 30px;
}

.next_page.disabled, .previous_page.disabled {
	display: none;
}